@media (max-width: 768px) {
  .nav .nav-hidden {
    display: none;
  }
  .style-link {
    padding: 15px 0px 15px 5px;
  }
  .target,
  .personal-info {
    height: 400px;
  }
  .container-contact,
  .container-contact i {
    gap: 30px;
    margin-left: 25px;
  }
   .container-project {
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
  }
  .job-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 0px;
  }
}
